$sprite-error = 20px 110px -20px -110px 19px 19px 226px 152px 'sprite.png';
$sprite-facebook = 54px 110px -54px -110px 10px 19px 226px 152px 'sprite.png';
$sprite-fb-black = 0px 129px 0px -129px 11px 23px 226px 152px 'sprite.png';
$sprite-google = 0px 110px 0px -110px 20px 19px 226px 152px 'sprite.png';
$sprite-logo = 0px 0px 0px 0px 226px 67px 226px 152px 'sprite.png';
$sprite-logo2 = 0px 67px 0px -67px 37px 43px 226px 152px 'sprite.png';
$sprite-pin = 37px 67px -37px -67px 27px 27px 226px 152px 'sprite.png';
$sprite-twitter-black = 64px 67px -64px -67px 22px 18px 226px 152px 'sprite.png';
$sprite-twitter = 37px 94px -37px -94px 19px 16px 226px 152px 'sprite.png';
$sprite-vk-black = 86px 67px -86px -67px 24px 14px 226px 152px 'sprite.png';
$sprite-vk = 39px 110px -39px -110px 15px 19px 226px 152px 'sprite.png';
